*{
	/* Universal reset: */
	margin:0;
	padding:0; 
    width: 580px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: #333
}

#logo{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
}

header{
    /* Setting the default text color, size, background and a font stack of header: */
    display: block;
    height: auto;
    width: 550px;
    padding: 0px 0px 35px 30px;
    background-color: #FFDF6B; 
}

nav{
	position:absolute;
	border:3px ;
    border-bottom-style:solid;
    border-top-style: solid;
    width: 275px
}

a {
	text-decoration:none;
    font-size:12px;
}


#nav_menu ul li {
 display: inline;
 padding-right: 1.5em;
}

middle{
    background-color: #FFCC11;
    display: block;
    height: 500px;    
}

h1{
    padding: 25px 0px 35px 30px;
    font-size: 50px;
}

#plate{
    width: 300px;
    height: 229px;
    display: block;
    float: right;
    position: relative;
    bottom: -50px
}

h2{
    font-size: 20px;
    padding: 25px 0px 35px 30px;
    position: relative;
    bottom: -50px 
}

h3{
    font-size: 60px;
    width: 50%;
    text-indent: 30px;
    margin: 0px;
    position: relative;
    background-color: #FFCC11;
}

h4{
    font-size: 10px;
    position: relative;
    right: -40%;
    bottom: 60px;
}

#Footer1{
    border: 3px;
    border-style: dashed;
    width: 575px;
    margin: 5px 0px 0px 0px; 
    height: 95px
}

h5{
    font-size: 60px;
    width: 75%;
    margin: 0px;
    position: relative;
    background-color: #FFCC11;
    text-indent: 100px;
}

h6{
    font-size: 10px;
    position: relative;
    right: -55%;
    bottom: 60px;
}

#Footer2{
    border: 3px;
    border-style: dashed;
    width: 575px;
    margin: 5px 0px 0px 0px; 
    height: 95px;
}